<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:cc="http://typo3.org/ns/CoelnConcept/CcImage/ViewHelpers" data-namespace-typo3-fluid="true">
<picture>
	<f:if condition="{file.properties.width} && ({file.properties.mime_type} == 'image/jpeg' || {file.properties.mime_type} == 'image/png' || {file.properties.mime_type} == 'image/webp')">
		<f:alias map="{
			breakpoints:'{f:if(condition:\'{settings.media.breakpoints.{file.properties.fieldname}}\', then:\'{settings.media.breakpoints.{file.properties.fieldname}}\', else:\'{f:if(condition:settings.media.breakpoints.default,then:settings.media.breakpoints.default,else:\\\'{1250:{1:1920,2:3840}, 1000:{1:1280,2:1920}, 750:{1:960,2:1280}, 480:{1:768,2:960}, 250:{1:480,2:768}}\\\')}\')}'
		}">
		<f:for each="{breakpoints}" key="deviceWidth" as="imageWidth">
			<f:alias map="{
				next:'{breakpoints->cc:arrayNext(key:deviceWidth)}',
				cropVariants:'{f:if(condition:\'{settings.media.cropVariants.{file.properties.fieldname}}\', then:\'{settings.media.cropVariants.{file.properties.fieldname}}\', else:\'{settings.media.cropVariants.default}\')}'
			}">
			<f:alias map="{cropVariant:'{cropVariants.{deviceWidth}}'}">
			<f:if condition="{file.properties.width} >= {imageWidth.1} && (!{dimensions.width} || {dimensions.width} >= {imageWidth.1})">
				<f:then>
					<source media="(min-width: {deviceWidth}px)" srcset="{cc:uri.image(image:file, maxWidth:imageWidth.1, cropVariant:cropVariant, fileExtension:'webp')}{f:if(condition:'{imageWidth.2} && {file.properties.width} >= {deviceWidth}', then:', {cc:uri.image(image:file, maxWidth:imageWidth.2, cropVariant:cropVariant, fileExtension:\'webp\')} 2x')}" type="image/webp" />
					<source media="(min-width: {deviceWidth}px)" srcset="{f:uri.image(image:file, maxWidth:imageWidth.1, cropVariant:cropVariant)}{f:if(condition:'{imageWidth.2} && {file.properties.width} >= {deviceWidth}', then:', {f:uri.image(image:file, maxWidth:imageWidth.2, cropVariant:cropVariant)} 2x')}" />
				</f:then>
				<f:else if="{dimensions.width} && {next.1} < {dimensions.width}">
					<source media="(min-width: {deviceWidth}px)" srcset="{cc:uri.image(image:file, maxWidth:dimensions.width, cropVariant:cropVariant, fileExtension:'webp')}{f:if(condition:'{imageWidth.2} && {file.properties.width} >= {deviceWidth}', then:', {cc:uri.image(image:file, maxWidth:imageWidth.2, cropVariant:cropVariant, fileExtension:\'webp\')} 2x')}" type="image/webp" />
					<source media="(min-width: {deviceWidth}px)" srcset="{f:uri.image(image:file, maxWidth:dimensions.width, cropVariant:cropVariant)}{f:if(condition:'{imageWidth.2} && {file.properties.width} >= {deviceWidth}', then:', {f:uri.image(image:file, maxWidth:imageWidth.2, cropVariant:cropVariant)} 2x')}" />
				</f:else>
				<f:else if="!{dimensions.width} && {imageWidth.1} > {file.properties.width} && {next.1} < {file.properties.width}">
					<source media="(min-width: {deviceWidth}px)" srcset="{cc:uri.image(image:file, cropVariant:cropVariant, fileExtension:'webp')}" type="image/webp" />
					<source media="(min-width: {deviceWidth}px)" srcset="{f:uri.image(image:file, cropVariant:cropVariant)}" />
				</f:else>
			</f:if>
			</f:alias>
			</f:alias>
		</f:for>
		</f:alias>
	</f:if>
	<f:media class="image-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" loading="{settings.media.lazyLoading}" decoding="{settings.media.imageDecoding}" />
</picture>
</html>
